path:hover {
	stroke: white;
	stroke-width: 3px;
	fill: #BF0A30;
	cursor: pointer;
}

.Canvas:hover{
	stroke: black !important ;
	stroke-width: 2px !important ;
	fill: #000;
	cursor: default;
}

path {
	stroke: black;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill-opacity: 0.8;
}

#info-box {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999;
	background-color: #000;
	border: 2px solid white;
	color: white;
	border-radius: 5px;
	padding: 5px;
	font-family: arial;
}